<mat-drawer-container class="drawer-container">
  <mat-drawer mode="side" [opened]="open">
    <ng-container [ngSwitch]="user?.role">
      <ng-container *ngSwitchCase="isAdmin">
        isAdmin
      </ng-container>
      <ng-container *ngSwitchCase="isEtudiant">
        isEtudiant
      </ng-container>
      <ng-container *ngSwitchDefault>
        isFormateur
      </ng-container>
    </ng-container>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="openClose()">
       <mat-icon>menu</mat-icon>
     </button>
     <span> {{user?.role}} </span>
     <span class="spacer"></span>
     <span> {{user?.nom + ' ' + user?.prenom}} </span>
     <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">
        <em class="fas fa-door-open mr-4"></em>
        <span class="ml-2">Se déconnecter</span>
      </button>
    </mat-menu>
   </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

