<mat-drawer-container class="login-container" autosize>
<mat-toolbar>
  <span>Login</span>
</mat-toolbar>

<mat-card class="container login-card" >
  <form [formGroup]="loginForm" (submit)="login()" >
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Entrer votre username</mat-label>
      <input matInput placeholder="foulen.benfoulen" formControlName="usernameControl" required />
      <mat-error *ngIf="loginForm.get('usernameControl').invalid">Username requis</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Entrer votre mot de passe</mat-label>
      <input matInput formControlName="passwordControl" [type]="hide ? 'password' : 'text'" />
      <mat-error *ngIf="loginForm.get('passwordControl').invalid">Mot de passe requis</mat-error>
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Masquer mot de passe'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>
    <button class="w-100" type="submit" [disabled]="loginForm.invalid" mat-raised-button color="accent">Login</button>
  </form>
</mat-card>
</mat-drawer-container>
