/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import url("https://use.fontawesome.com/releases/v5.10.0/css/all.css");
@import '~font-awesome/scss/font-awesome';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
